## Git ignore file to eliminate environment specific files from repository

# Compliled class files
*.class

# Remove game save file so that each new download creates there own save game file
saves.dat
